@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    font-family: 'Red Hat Display', sans-serif;
}

.color{
    color: hsl(225, 100%, 94%);
    color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%);
    color: hsl(223, 47%, 23%);
}

body{
    background: url(images/pattern-background-desktop.svg);
    background-color:hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;

}

.main-div{
    background-color: white;
    position: absolute;
    width: 300px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
}

.illustration{
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    width: 100%;
    height: 150px;
}

.second-div{
    padding: 30px;
}

h1{
    margin: auto;
    font-size: 20px;
    text-align: center;
    
}

#description{
    text-align: center;
    font-size: 14px;
}

.btn-confirm-cancel {
    display:flex ;
    flex-direction: column;
    margin: 10px auto;
}

#btn-confirm{
    margin: 10px auto;
    width: 100%;
}

h2{
    font-size: 14px;
    margin: 0;
}

.offer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#price {
    margin: 0;
    font-size: 13px;
}

a{
    font-size: 12px;
}

.plan-price{
    vertical-align: middle;
}

#btn-confirm{
    background-color: hsl(245, 75%, 52%);
    color: whitesmoke;
    padding: 10px;
    border-color: hsl(245, 75%, 52%);
    border-radius: 9px;
    cursor: pointer;
}

#btn-confirm:hover {
    background-color: hsl(245, 100%, 28%);
}

#btn-cancel{
    background: transparent;
    color: hsl(224, 23%, 55%);
    padding: 5px;
    border:none;
    border-radius: 9px;
    cursor: pointer;
}
